!!! 5

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='css/client.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' ,rel='stylesheet',type='text/css')
    //-script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    
    //- Begin: Exactly as bootstrap
    
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          
   
    .masthead 
        .container      
              h1 web-make 
              p Generate a plain makefile for your web project 
              a.btn.btn-small.btn-success(href="github-mac://openRepo/https://github.com/vzaccaria/fluent-fsm") Clone on Github


    //- End: Exactly as bootstrap

    hr
          
    .container.under-the-jumbotron
        .span12
          .row
            .span4.box
              #text0
            .span4.box
              #text1
            .span4.box
              #text2
          hr
          .row
             .span4
              #text3
             .span8
              ul.nav.nav-tabs
                li.active
                  a(data-toggle="tab", href="#code") Coffeescript
                li
                  a(data-toggle="tab", href="#make") Makefile
                li
                  a(data-toggle="tab", href="#demo") Demo
                  
              div.tab-content(style="height: 480px;")
                div.tab-pane.active#code
                  #text4
                div.tab-pane#make
                  #text5
                div.tab-pane#demo
                  .row
                    .span6#terminal(class="size:80x24,file:/examples/simple/tty.json")
                    .span1 
                      button.btn(onclick="playterm_player.togglePlay()") Play 
          hr
          .row
             .span4
                #text6
             .span8
                #text7

              //- #text4
                
        .span8.offset2 
         hr
         p (c) 2013 - Vittorio Zaccaria - MIT License
              //- .footer
          
    script(src="js/vendor.js")
    script(src="js/client.js")
    script
            hljs.initHighlightingOnLoad();






