
extends default
prepend content 

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          ul.nav.pull-right 
            li
              a(href="index.html") Home
            li
              a(href="examples.html") Examples
            li.active
              a(href="api.html") API                 
              
    


    //- End: Exactly as bootstrap

    .container
      .masthead 
        p API Coming soon. Just fiddle with the package files for the moment. I still have a day job to do..


         
prepend post-init
  script
     window.renderTextAt('markdown/examples.md', 'text')
                  






