
extends default
prepend content 

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          ul.nav.pull-right 
            li
              a(href="index.html") Home
            li.active
              a(href="examples.html") Examples
            li 
              a(href="api.html") Docs                 
              
    


    //- End: Exactly as bootstrap

    .container
      .masthead 
        h2 Example 
          h4 Let's peek into the wmake file used to build and deploy this website
      hr
      .row
         .span4
          #text0
         .span8
          #text1
      .row
         .span4
          #text2
         .span8
          #text3
       .row
         .span4
          #text4
         .span8
          #text5
       .row
         .span4
          #text6
         .span8
          #text7            
       .row
         .span4
          #text8
         .span8
          #text9    
       .row
         .span4
          #text10
         .span8
          #text11

         //- .span8
         //-  ul.nav.nav-tabs
         //-    li.active
         //-      a(data-toggle="tab", href="#code") Coffeescript
         //-    li
         //-      a(data-toggle="tab", href="#make") Makefile
         //-    li
         //-      a(data-toggle="tab", href="#demo") Demo
              
         //-  div.tab-content(style="height: 480px;")
         //-    div.tab-pane.active#code
         //-      #text2
         //-    div.tab-pane#make
         //-      #text3
         //-     //- .footer
          
prepend post-init
  script
     window.renderTextAt('markdown/examples.md')
                  






