
extends default
prepend content 

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          ul.nav.pull-right 
            li.active 
              a(href="index.html") Home
            li 
              a(href="examples.html") Examples
            li 
              a(href="api.html")  API
              
    .masthead.jumbotron 
        .container      
              h1 web-make 
              p Generate a plain makefile for your web project 
              a.btn.btn-small.btn-success(href="github-mac://openRepo/https://github.com/vzaccaria/make4web") Clone on Github


    //- End: Exactly as bootstrap

    .container.under-the-jumbotron
        .span12
          .row
            .span4.box
              #text0
            .span4.box
              #text1
            .span4.box
              #text2
          hr
          .row
             .span4
              #text3
             .span8
              ul.nav.nav-tabs
                li
                  a(data-toggle="tab", href="#code") Coffeescript
                li
                  a(data-toggle="tab", href="#make") Makefile
                li.active
                  a(data-toggle="tab", href="#demo") Demo
                  
              div.tab-content(style="height: 500px;")
                div.tab-pane#code
                  #text4
                div.tab-pane#make
                  #text5
                div.tab-pane.active#demo
                  .row
                    .offset1.span6.terminal-container
                        .terminal-window
                          .terminal-head web-make
                          #terminal(class="size:80x24")

                        button.btn.btn-small.terminal-button(onclick="playterm_player.togglePlay()")
                          div
                            i.icon-play 
                            i.icon-stop
          hr 
          .row
            .span4
                  #text6
            .span8
                  #text7
          hr 
          .row
            .span4
                  #text8
            .span8
                  #text9
                    
          hr 
          //- Options table
          .row
            .span4
              #tbl0
            .span8
              table.table.table-bordered
                thead 
                  th
                    #tbl1
                  th
                    #tbl2
                tbody
                  for i in [0,1,2,3,4,5,6,7]
                    tr
                      td
                        div(id="tbl#{2*i+3}")
                      td
                        div(id="tbl#{2*i+4}")
          hr 
          .row
            .span4
                  #text10
            .span8
                  #text11
          hr 
          .row
            .span4
                  #text12
            .span8
                  #text13
          
 
          hr
          .row
            .span4
                h2 Supports
            .span8    
                ul.thumbnails
                    li
                      .span2.thumbnail
                        img(src="img/logo-coffeescript.jpg")
                    li
                      .span2.thumbnail
                        img(src="img/logo-less.jpg")
                          
                    li
                      .span2.thumbnail
                        img(src="img/logo-sylus.jpg") 
                    
                    li
                      .span2.thumbnail
                        img(src="img/logo-jade.jpg") 

                
 prepend post-init
  script
     window.loadTtyRecording('termcasts/simple.tty.json', 'terminal');
     window.renderTextAt('markdown/README.md', 'text')
     window.renderTextAt('markdown/options.md', 'tbl')             

            







