
extends default
prepend content 

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          ul.nav.pull-right 
            li
              a(href="index.html") Home
            li
              a(href="examples.html") Examples
            li.active
              a(href="api.html") API                 
              
    


    //- End: Exactly as bootstrap

    .container
      .masthead 
        p Release Notes
    
    .container.under-the-jumbotron
      .span12
        .offset2.span8
          #text0

         
prepend post-init
  script
     window.renderTextAt('markdown/release-notes.md', 'text')
                  






